			<footer class="container-fluid text-center navbar-fixed-bottom">
				<p>JUSTIN HUYNH || DESIGNER, PROGRAMMER, SCIENTIST || &copy; 2017</p>
			</footer>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="libs/aos/aos.js"></script>
		<script type="text/javascript">AOS.init();</script>
		<script type="text/javascript" src="/js/main.js"></script>
		</body>
	</html>