<% include partials/header %>

	<div class="jumbotron">
		<h1>Learn More About Me</h1>
		<p>Here's a list of my accomplishments.</p>
	</div>

	<div class="container lightblue">			
		<div id="aboutSection">
			<h3>About Me</h3>
			<p>Hey there! Welcome to my site; I am an aspiring web developer, designer, and programmer based in Southern California. I am a recent graduate from the University of California, Los Angeles with a degree in biological sciences, and with it I want to bring my love for experimentation to creating websites, graphics, logos and more!</p>
			
			<br />
			
			<p>Feel free to click on any of these sections to expand them for more detail!</p>

			<article id="main-col">
				<h4 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h4>
				<section class="resume-section" id="education">	
					<span class="section-details">University of California, Los Angeles, Los Angeles, CA</span><br />
					<span class="job-title">B.S. Microbiology, Immunology, and Molecular Genetics</span><br />
					<span class="dates">September 2011 - June 2015</span><br />
				</section>

				<h4 class="section-title"><i class="fa fa-book"></i>Relevant Coursework Taken</h4>
				<section class="resume-section" id="coursework">	
					<span class="section-details">CodeCademy</span>
						<ul>
							<li class="resume-body">Basics of HTML, CSS, Javascript, jQuery, PHP, Python, Ruby</li><br />
						</ul>
					<span class="section-details">Udacity</span>
						<ul>
							<li class="resume-body">"How to Use Git and Github" Course</li>
							<ul>
								<li class="list-body">- Provided instruction on using GitHub, a web-based version control repository for software developers.</li><br />
							</ul>
							<li class="resume-body">"Javascript Basics" Course</li>
							<ul>
								<li class="list-body">- Involved creating an online webpage-style resume that required utilization of jQuery, JSON objects, and Javscript.</li>
							</ul>
						</ul>
				</section>

				<h4 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h4>
				<section class="resume-section" id="work-experience">	
					<span class="section-details">Alessandro Sette Lab - La Jolla Institute for Allergy and Immunology, San Diego, CA</span><br />
					<span class="job-title">Research Technician I</span><br />
					<span class="dates">December 2015 - January 2017</span><br />
					<p class="resume-body">Conducted research on human immune responses to Tuberculosis (TB) through cellular assays which required statistical analysis of large data sets, as well as flow cytometry statistical analysis. Maintained a large collaborative database used to record blood donors from around the world.</p>

					<span class="section-details">Ha Youn Lee Lab - USC Keck School of Medicine, Los Angeles, CA</span><br />
					<span class="job-title">Lab Technician I</span><br />
					<span class="dates">August 2015 - October 2015</span><br />
					<p class="resume-body">Assisted in 454 sequencing, and led the design of PCR primers using perl and python code to statistically determine the best primer pair to use for amplification of pol and env regions of HIV samples in a novel research project.</p>

					<span class="section-details">Bruin Cafe - UCLA Housing & Hospitality, Los Angeles, CA</span><br />
					<span class="job-title">Barista</span><br />
					<span class="dates">September 2012 - June 2014</span><br />
					<p class="resume-body">Managed and cooperated with team members to perform various assigned tasks, as well as handle independent duties without requiring supervision. Also took charge of training new employees in performing their assigned positions.</p>
				</section>

				<h4 class="section-title"><i class="fa fa-male"></i>Other Experience</h4>
				<section class="resume-section" id="other-experience">	
					<span class="section-details">Delta Lambda Phi - Social Fraternity, Los Angeles, CA</span><br />
					<span class="job-title">President, Secretary, Publicity Chair</span><br />
					<span class="dates">September 2012 - June 2015</span><br />
					<p class="resume-body">Led the chapter to earn numerous awards, such as the Standards of Excellence award of the Multi-Interest Greek Council. Also maintained organization of official fraternity documents, communication, and finances. Was in charge of creating promotional material such as flyers, shirts, event tickets, etc.</p>
				</section>
			</article>
		</div>
	</div>

<% include partials/footer %>