<% include partials/header %>

	<div class="jumbotron">
		<h1>Contact Me</h1>
		<p>Let's get started on your project!</p>
	</div>

	<div class="container">	
		<div id="contactSection" class="row contact">
			<div class="col-sm-6">
				<h3>Connect with Me:</h3>
				<p>Feel free to get in touch with me directly or through social media!</p>

				<h4>Location</h4>
				<i class="fa fa-map-marker"></i>
				<span>Inland Empire, CA</span> <br/>

				<h4>Email</h4>
				<i class="fa fa-envelope"></i>
				<span>j.alexhuynh@gmail.com</span> <br/>

				<h4>Phone</h4>
				<i class="fa fa-phone"></i>
				<span>1.951.310.8018</span><br/>

				<h4>Social Media</h4>
				<a href="https://www.linkedin.com/in/huynhjustin/">
					<i class="fa fa-linkedin-square"></i>
				</a>
				<span>linkedin.com/huynhjustin</span> 
				
				<br />
				
				<a href="https://github.com/Jalexhuynh/">
					<i class="fa fa-github"></i>
				</a>
				<span>github.com/Jalexhuynh</span>
			</div>
			<div class="col-sm-6">
				<img src="images/me.jpg" width="300px">
			</div>
		</div>
	</div>

<% include partials/footer %>