<% include partials/header %>

	<div id="homeJumbotron" class="jumbotron">
		<div id="content">
			<h1>Welcome!</h1>
			<p>
				My name is Justin Huynh. <br>
				Feel free to check out my portfolio!
			</p>
		</div>

	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non scelerisque est. Vivamus aliquam feugiat accumsan. Vestibulum gravida non tellus vitae rhoncus. In et erat id felis porta tincidunt. Suspendisse imperdiet est sed laoreet molestie. Quisque sed tortor at sem placerat consectetur. Nunc blandit rhoncus dictum. Donec suscipit volutpat magna et feugiat. Nullam elementum pretium mollis. Donec quis urna volutpat, posuere sem in, elementum urna. Donec pellentesque dui tincidunt elit lobortis efficitur. In ante nulla, imperdiet accumsan augue varius, hendrerit luctus ligula.</div>
			<div class="col-md-6">Pellentesque pulvinar nibh ut ante maximus, ut vulputate lacus sagittis. Sed nec tristique magna, aliquam iaculis metus. Nam sed mattis lectus. Donec efficitur velit dolor, in mollis purus ultricies in. Quisque orci diam, vestibulum fermentum felis eget, molestie facilisis tellus. Donec rhoncus placerat erat in condimentum. Quisque eleifend nec mi sit amet ultricies. Nam nec tincidunt tortor, vitae suscipit leo. Praesent aliquet tortor sit amet posuere luctus. Sed augue sem, luctus non pulvinar a, condimentum vel orci. Nunc congue at lectus sed mollis. Etiam ac iaculis nulla.</div>
		</div>
	</div>

<% include partials/footer %>