<% include partials/header %>

<div class="jumbotron" id="homeSection">
				<h1>Welcome!</h1>
				<p>My name is Justin Huynh. Feel free to check out my portfolio!</p>
			</div>

			<div class="container lightblue">			
				<div id="aboutSection">
					<h3>About Me</h3>
					<p>Hey there! Welcome to my site; I am an aspiring web developer, designer, and programmer based in Southern California. I am a recent graduate from the University of California, Los Angeles with a degree in biological sciences, and with it I want to bring my love for experimentation to creating websites, graphics, logos and more!</p>
					
					<br />
					
					<p>Feel free to click on any of these sections to expand them for more detail!</p>

					<article id="main-col">
						<h4 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h4>
						<section class="resume-section" id="education">	
							<span class="section-details">University of California, Los Angeles, Los Angeles, CA</span><br />
							<span class="job-title">B.S. Microbiology, Immunology, and Molecular Genetics</span><br />
							<span class="dates">September 2011 - June 2015</span><br />
						</section>

						<h4 class="section-title"><i class="fa fa-book"></i>Relevant Coursework Taken</h4>
						<section class="resume-section" id="coursework">	
							<span class="section-details">CodeCademy</span>
								<ul>
									<li class="resume-body">Basics of HTML, CSS, Javascript, jQuery, PHP, Python, Ruby</li><br />
								</ul>
							<span class="section-details">Udacity</span>
								<ul>
									<li class="resume-body">"How to Use Git and Github" Course</li>
									<ul>
										<li class="list-body">- Provided instruction on using GitHub, a web-based version control repository for software developers.</li><br />
									</ul>
									<li class="resume-body">"Javascript Basics" Course</li>
									<ul>
										<li class="list-body">- Involved creating an online webpage-style resume that required utilization of jQuery, JSON objects, and Javscript.</li>
									</ul>
								</ul>
						</section>

						<h4 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h4>
						<section class="resume-section" id="work-experience">	
							<span class="section-details">Alessandro Sette Lab - La Jolla Institute for Allergy and Immunology, San Diego, CA</span><br />
							<span class="job-title">Research Technician I</span><br />
							<span class="dates">December 2015 - January 2017</span><br />
							<p class="resume-body">Conducted research on human immune responses to Tuberculosis (TB) through cellular assays which required statistical analysis of large data sets, as well as flow cytometry statistical analysis. Maintained a large collaborative database used to record blood donors from around the world.</p>

							<span class="section-details">Ha Youn Lee Lab - USC Keck School of Medicine, Los Angeles, CA</span><br />
							<span class="job-title">Lab Technician I</span><br />
							<span class="dates">August 2015 - October 2015</span><br />
							<p class="resume-body">Assisted in 454 sequencing, and led the design of PCR primers using perl and python code to statistically determine the best primer pair to use for amplification of pol and env regions of HIV samples in a novel research project.</p>

							<span class="section-details">Bruin Cafe - UCLA Housing & Hospitality, Los Angeles, CA</span><br />
							<span class="job-title">Barista</span><br />
							<span class="dates">September 2012 - June 2014</span><br />
							<p class="resume-body">Managed and cooperated with team members to perform various assigned tasks, as well as handle independent duties without requiring supervision. Also took charge of training new employees in performing their assigned positions.</p>
						</section>

						<h4 class="section-title"><i class="fa fa-male"></i>Other Experience</h4>
						<section class="resume-section" id="other-experience">	
							<span class="section-details">Delta Lambda Phi - Social Fraternity, Los Angeles, CA</span><br />
							<span class="job-title">President, Secretary, Publicity Chair</span><br />
							<span class="dates">September 2012 - June 2015</span><br />
							<p class="resume-body">Led the chapter to earn numerous awards, such as the Standards of Excellence award of the Multi-Interest Greek Council. Also maintained organization of official fraternity documents, communication, and finances. Was in charge of creating promotional material such as flyers, shirts, event tickets, etc.</p>
						</section>
					</article>

				</div>
			</div>

			<div class="jumbotron" id="jumbo-2">
				<h1>Flyers, Designs and More</h1>
				<p>Take a look at promotional material I've worked on!</p>
			</div>

			<div class="container">			
				<div id="portfolioSection">

					<h3><i class="fa fa-cog fa-spin"></i>Javascript Projects</h3>

					<p class="js-project"><a href="js-projects/json-resume/index.html" target="blank">[ JSON-Built Resume] </a></p>
					<p>Following a course from Udacity, I created draft of an online resume where all my information was stored in JSON objects. The data was then appended to the HTML skeleton using Javascript and jQuery commands.</p>
					
					<p class="js-project"><a href="js-projects/move-the-box/index.html" target="blank">[ Move-The-Box ]</a></p>
					<p>Created a simple webpage where users can move a box sprite using the four directional arrow keys. Javascript is used to consistently update the sprite location on the screen.</p>

					<br/>
					
					<h3><i class="fa fa-wrench"></i>Skills and Proficiencies</h3>
					
					<div class="progress">
  						<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
    							Microsoft Office (Word, Excel, Powerpoint)
					  	</div>
					</div>
					<div class="progress">
  						<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
    							Adobe Photoshop
					  	</div>
					</div>
					<div class="progress">
  						<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
    							Adobe Illustrator
					  	</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width:50%">
					    		Event Flyer Designs
					  	</div>
						<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width:20%">
					    		Business Card Mockups
					  	</div>
					  	<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width:10%">
					    		Web Design
					  	</div>
					  	<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width:20%">
					    		Logo Creation
					  	</div>
					</div>
					
					<br />

					<h3><i class="fa fa-paint-brush"></i>Graphic Design Work</h3>
					<p>I am a self-taught graphic designer, with an emphasis in promotional graphics. I've created event flyers, business cards, banners and more for various college organizations and personal projects.</p>
					<!-- Begin Lightroom -->

					<div class="container gallery">
						<!-- Row "new", businesscardmockup -->
						<div class="row">
							<div class="col-xs-6">
								<a href="images/lightroom/2017_PersonalBusinessCardMockup.png" data-title="Personal Business Card Mockup, 2017" data-lightbox="flyers">
									<img src="images/lightroom/2017_PersonalBusinessCardMockup.png" width="1200px" class=img-thumbnail>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="images/lightroom/2017_GoldRoosterBCMockup.png" data-title="Personal Business Card Mockup, 2017" data-lightbox="flyers">
									<img src="images/lightroom/2017_GoldRoosterBCMockup.png" width="1200px" class=img-thumbnail>
								</a>
							</div>
						</div>

						<br />
					
						<!-- Row 1, Pictures 1 - 4 -->
						<div class="row">
							<div class="col-xs-3">
								<a href="images/lightroom/2017_Flyer_Calinoobs_Front.png" data-title="Promotional Flyer, 2017" data-lightbox="flyers">
									<img src="images/lightroom/2017_Flyer_Calinoobs_Front.png" width="300px" class=img-thumbnail>
								</a>
							</div>
							<div class="col-xs-3">
								<a href="images/lightroom/2017_Flyer_Calinoobs_Back.png" data-title="Promotional Flyer, 2017" data-lightbox="flyers">
									<img src="images/lightroom/2017_Flyer_Calinoobs_Back.png" width="300px" class=img-thumbnail>
								</a>
							</div>
							<div class="col-xs-3">
								<a href="images/lightroom/2015_Flyer_PrideProm_Front.png" data-title="Event Flyer, 2015" data-lightbox="flyers">
									<img src="images/lightroom/2015_Flyer_PrideProm_Front.png" width="300px" class=img-thumbnail>
								</a>
							</div>
							<div class="col-xs-3">
								<a href="images/lightroom/2015_Flyer_PrideProm_Back.png" data-title="Event Flyer, 2015" data-lightbox="flyers">
									<img src="images/lightroom/2015_Flyer_PrideProm_Back.png" width="300px" class=img-thumbnail>
								</a>
							</div>
						</div>

						<br />

						<!-- Row 2, Pictures 5 - 6 -->
						<div class="row">
							<div class="col-xs-6">
								<a href="images/lightroom/2017_BusinessCard_Calinoobs_Front.png" data-title="Business Card, 2017" data-lightbox="flyers">
									<img src="images/lightroom/2017_BusinessCard_Calinoobs_Front.png" width="600px" class=img-thumbnail>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="images/lightroom/2017_BusinessCard_Calinoobs_Back.png" data-title="Business Card, 2017" data-lightbox="flyers">
									<img src="images/lightroom/2017_BusinessCard_Calinoobs_Back.png" width="600px" class=img-thumbnail>
								</a>
							</div>
						</div>

						<br />

						<!-- Row 3, Pictures 7 - 10 -->
						<div class="row">
							<div class="col-xs-3">
								<a href="images/lightroom/2014_Flyer_PrideProm_Front.png" data-title="Event Flyer, 2014" data-lightbox="flyers">
									<img src="images/lightroom/2014_Flyer_PrideProm_Front.png" width="300px" class=img-thumbnail>
								</a>
							</div>
							<div class="col-xs-3">
								<a href="images/lightroom/2014_Flyer_PrideProm_Back.png" data-title="Event Flyer, 2014" data-lightbox="flyers">
									<img src="images/lightroom/2014_Flyer_PrideProm_Back.png" width="300px" class=img-thumbnail>
								</a>
							</div>
							<div class="col-xs-3">
								<a href="images/lightroom/2013_Flyer_Rush_Fall_Front.png" data-title="Greek Rush Flyer, 2013" data-lightbox="flyers">
									<img src="images/lightroom/2013_Flyer_Rush_Fall_Front.png" width="300px" class=img-thumbnail>
								</a>
							</div>
							<div class="col-xs-3">
								<a href="images/lightroom/2013_Flyer_Rush_Fall_Back.png" data-title="Greek Rush Flyer, 2013" data-lightbox="flyers">
									<img src="images/lightroom/2013_Flyer_Rush_Fall_Back.png" width="300px" class=img-thumbnail>
								</a>
							</div>
						</div>

						<br />

						<!-- Row 4, Pictures 11 - 12 -->
						<div class="row">
							<div class="col-xs-6">
								<a href="images/lightroom/2014_Flyer_Rush_Fall_Front.jpg" data-title="Greek Rush Flyer, 2014" data-lightbox="flyers">
									<img src="images/lightroom/2014_Flyer_Rush_Fall_Front.jpg" width="600px" class=img-thumbnail>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="images/lightroom/2014_Flyer_Rush_Fall_Back.jpg" data-title="Greek Rush Flyer, 2014" data-lightbox="flyers">
									<img src="images/lightroom/2014_Flyer_Rush_Fall_Back.jpg" width="600px" class=img-thumbnail>
								</a>
							</div>
						</div>

					<!-- End Light Room -->
					</div>

				</div>
			</div>

			<div class="container">	
				<div id="contactSection" class="row contact">
					<div class="col-sm-6">
						<h3>Connect with Me:</h3>
						<p>Feel free to get in touch with me directly or through social media!</p>

						<h4>Location</h4>
						<i class="fa fa-map-marker"></i>
						<span>Inland Empire, CA</span> <br/>

						<h4>Email</h4>
						<i class="fa fa-envelope"></i>
						<span>j.alexhuynh@gmail.com</span> <br/>

						<h4>Phone</h4>
						<i class="fa fa-phone"></i>
						<span>1.951.310.8018</span><br/>

						<h4>Social Media</h4>
						<a href="https://www.linkedin.com/in/huynhjustin/">
							<i class="fa fa-linkedin-square"></i>
						</a>
						<span>linkedin.com/huynhjustin</span> 
						
						<br />
						
						<a href="https://github.com/Jalexhuynh/">
							<i class="fa fa-github"></i>
						</a>
						<span>github.com/Jalexhuynh</span>
					</div>
					<div class="col-sm-6">
						<img src="images/me.jpg" width="300px">
					</div>
				</div>
			</div>


<% include partials/footer %>