<% include partials/header %>

	<div class="jumbotron">
		<h1>Flyers, Designs and More</h1>
		<p>Take a look at promotional material I've worked on!</p>
	</div>

	<div class="container">			
		<div id="portfolioSection">

			<h3><i class="fa fa-cog fa-spin"></i>Javascript Projects</h3>

			<p class="js-project"><a href="js-projects/json-resume/index.html" target="blank">[ JSON-Built Resume] </a></p>
			<p>Following a course from Udacity, I created draft of an online resume where all my information was stored in JSON objects. The data was then appended to the HTML skeleton using Javascript and jQuery commands.</p>
			
			<p class="js-project"><a href="js-projects/move-the-box/index.html" target="blank">[ Move-The-Box ]</a></p>
			<p>Created a simple webpage where users can move a box sprite using the four directional arrow keys. Javascript is used to consistently update the sprite location on the screen.</p>

			<br/>
			
			<h3><i class="fa fa-wrench"></i>Skills and Proficiencies</h3>
			
			<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						Microsoft Office (Word, Excel, Powerpoint)
			  	</div>
			</div>
			<div class="progress">
					<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						Adobe Photoshop
			  	</div>
			</div>
			<div class="progress">
					<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
						Adobe Illustrator
			  	</div>
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width:50%">
			    		Event Flyer Designs
			  	</div>
				<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width:20%">
			    		Business Card Mockups
			  	</div>
			  	<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width:10%">
			    		Web Design
			  	</div>
			  	<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width:20%">
			    		Logo Creation
			  	</div>
			</div>
			
			<br />

			<h3><i class="fa fa-paint-brush"></i>Graphic Design Work</h3>
			<p>I am a self-taught graphic designer, with an emphasis in promotional graphics. I've created event flyers, business cards, banners and more for various college organizations and personal projects.</p>
			<!-- Begin Lightroom -->

			<div class="container gallery">
				<!-- Row "new", businesscardmockup -->
				<div class="row">
					<div class="col-xs-6">
						<a href="images/lightroom/2017_PersonalBusinessCardMockup.png" data-title="Personal Business Card Mockup, 2017" data-lightbox="flyers">
							<img src="images/lightroom/2017_PersonalBusinessCardMockup.png" width="1200px" class=img-thumbnail>
						</a>
					</div>
					<div class="col-xs-6">
						<a href="images/lightroom/2017_GoldRoosterBCMockup.png" data-title="Personal Business Card Mockup, 2017" data-lightbox="flyers">
							<img src="images/lightroom/2017_GoldRoosterBCMockup.png" width="1200px" class=img-thumbnail>
						</a>
					</div>
				</div>

				<br />
			
				<!-- Row 1, Pictures 1 - 4 -->
				<div class="row">
					<div class="col-xs-3">
						<a href="images/lightroom/2017_Flyer_Calinoobs_Front.png" data-title="Promotional Flyer, 2017" data-lightbox="flyers">
							<img src="images/lightroom/2017_Flyer_Calinoobs_Front.png" width="300px" class=img-thumbnail>
						</a>
					</div>
					<div class="col-xs-3">
						<a href="images/lightroom/2017_Flyer_Calinoobs_Back.png" data-title="Promotional Flyer, 2017" data-lightbox="flyers">
							<img src="images/lightroom/2017_Flyer_Calinoobs_Back.png" width="300px" class=img-thumbnail>
						</a>
					</div>
					<div class="col-xs-3">
						<a href="images/lightroom/2015_Flyer_PrideProm_Front.png" data-title="Event Flyer, 2015" data-lightbox="flyers">
							<img src="images/lightroom/2015_Flyer_PrideProm_Front.png" width="300px" class=img-thumbnail>
						</a>
					</div>
					<div class="col-xs-3">
						<a href="images/lightroom/2015_Flyer_PrideProm_Back.png" data-title="Event Flyer, 2015" data-lightbox="flyers">
							<img src="images/lightroom/2015_Flyer_PrideProm_Back.png" width="300px" class=img-thumbnail>
						</a>
					</div>
				</div>

				<br />

				<!-- Row 2, Pictures 5 - 6 -->
				<div class="row">
					<div class="col-xs-6">
						<a href="images/lightroom/2017_BusinessCard_Calinoobs_Front.png" data-title="Business Card, 2017" data-lightbox="flyers">
							<img src="images/lightroom/2017_BusinessCard_Calinoobs_Front.png" width="600px" class=img-thumbnail>
						</a>
					</div>
					<div class="col-xs-6">
						<a href="images/lightroom/2017_BusinessCard_Calinoobs_Back.png" data-title="Business Card, 2017" data-lightbox="flyers">
							<img src="images/lightroom/2017_BusinessCard_Calinoobs_Back.png" width="600px" class=img-thumbnail>
						</a>
					</div>
				</div>

				<br />

				<!-- Row 3, Pictures 7 - 10 -->
				<div class="row">
					<div class="col-xs-3">
						<a href="images/lightroom/2014_Flyer_PrideProm_Front.png" data-title="Event Flyer, 2014" data-lightbox="flyers">
							<img src="images/lightroom/2014_Flyer_PrideProm_Front.png" width="300px" class=img-thumbnail>
						</a>
					</div>
					<div class="col-xs-3">
						<a href="images/lightroom/2014_Flyer_PrideProm_Back.png" data-title="Event Flyer, 2014" data-lightbox="flyers">
							<img src="images/lightroom/2014_Flyer_PrideProm_Back.png" width="300px" class=img-thumbnail>
						</a>
					</div>
					<div class="col-xs-3">
						<a href="images/lightroom/2013_Flyer_Rush_Fall_Front.png" data-title="Greek Rush Flyer, 2013" data-lightbox="flyers">
							<img src="images/lightroom/2013_Flyer_Rush_Fall_Front.png" width="300px" class=img-thumbnail>
						</a>
					</div>
					<div class="col-xs-3">
						<a href="images/lightroom/2013_Flyer_Rush_Fall_Back.png" data-title="Greek Rush Flyer, 2013" data-lightbox="flyers">
							<img src="images/lightroom/2013_Flyer_Rush_Fall_Back.png" width="300px" class=img-thumbnail>
						</a>
					</div>
				</div>

				<br />

				<!-- Row 4, Pictures 11 - 12 -->
				<div class="row">
					<div class="col-xs-6">
						<a href="images/lightroom/2014_Flyer_Rush_Fall_Front.jpg" data-title="Greek Rush Flyer, 2014" data-lightbox="flyers">
							<img src="images/lightroom/2014_Flyer_Rush_Fall_Front.jpg" width="600px" class=img-thumbnail>
						</a>
					</div>
					<div class="col-xs-6">
						<a href="images/lightroom/2014_Flyer_Rush_Fall_Back.jpg" data-title="Greek Rush Flyer, 2014" data-lightbox="flyers">
							<img src="images/lightroom/2014_Flyer_Rush_Fall_Back.jpg" width="600px" class=img-thumbnail>
						</a>
					</div>
				</div>

			<!-- End Light Room -->
			</div>
		</div>
	</div>

<% include partials/footer %>